<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>API Lab</title>
    <!-- 

      Letter Template 

      https://templatemo.com/tm-510-letter



      Template Re-distribution is NOT allowed.

      -->
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/secondary-style.css" />
    <link rel="stylesheet" href="../public/css/templatemo-style.css">
  </head>

  <body>
    <div id="particles-js"></div>

    <ul class="cb-slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <div class="container-fluid">
      <div class="cb-slideshow-text-container">
        <div class="tm-content">
          <div class="title-container">
            <header class="mb-5">
              <h1>API Lab</h1>
            </header>
          </div>

          <p class="mb-5 textp">
            <a href="https://www.nodejs.org" target="_blank" rel="noreferrer noopener">Node.js</a> (10+)
            template project that serves a static site and stores and retrieves data using
            <a href="https://www.mongodb.com" target="_blank" rel="noreferrer noopener">MongoDB</a>.
            Requires minimal popular and up-to-date dependencies
            (<a href="https://github.com/motdotla/dotenv" target="_blank" rel="noreferrer noopener">Dotenv</a>,
            <a href="https://expressjs.com" target="_blank" rel="noreferrer noopener">Express</a>,
            <a href="https://github.com/bluesmoon/node-geoip" target="_blank" rel="noreferrer noopener">Geoip
              lite</a>,
            <a href="https://jestjs.io" target="_blank" rel="noreferrer noopener">Jest</a>,
            <a href="https://mongoosejs.com" target="_blank" rel="noreferrer noopener">Mongoose</a>,
            <a href="https://github.com/expressjs/morgan" target="_blank" rel="noreferrer noopener">Morgan</a>,
            <a href="https://swagger.io" target="_blank" rel="noreferrer noopener">Swagger</a>)
            to be suitable for cloud containers and serve as base for other projects. The index page was built using a
            template from <a href="https://templatemo.com" target="_blank" rel="noreferrer noopener">Templatemo</a> as
            base.
          </p>

          <div class="buttons-container">
            <button class="tm-btn-subscribe">
              <a id="apidoca" class="ainbtn" target="_blank" rel="noreferrer noopener">API Documentation</a>
            </button>
            <button id="ghbtn" class="tm-btn-subscribe">
              <a href="https://github.com/Asta1986/nodejs-ex" target="_blank" rel="noreferrer noopener"
                class="ainbtn">GitHub Repository</a>
            </button>
          </div>

          <div class="tm-social-icons-container">
            <a href="https://github.com/Asta1986" target="_blank" rel="noreferrer noopener" class="tm-social-link">
              <img class="gh-icon" src="../public/img/github_icon.png" alt="GitHub Logo" title="GitHub Profile">
            </a>
            <a href="mailto:psljp@protonmail.com" class="tm-social-link">
              <img class="email-icon" src="../public/img/email_icon.png" alt="Email Icon" title="Send Email">
            </a>
            <p id="copyrightP" />
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- Set Copyright text in the Footer and API Docs link target. -->
  <script>
    document.getElementById("copyrightP").innerHTML = "Copyright &copy; Asta86 - " + (new Date()).getFullYear();
    document.getElementById("apidoca").setAttribute("href", window.location.href.match(/https?:\/\/[^\/]+/)[0] + "/api/docs");
  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script type="text/javascript" src="../public/js/particlesapp.js"></script>
</html>
